.DS_Store
node_modules
build
.idea/*
.vscode
lerna-debug.log
yarn-error.log
.yarn/
!.yarn/releases
!.yarn/plugins
.pnp.*

dist
includes
tsconfig.tsbuildinfo
coverage
devTestOnly/
.eslintcache

combined.log
error.log
dev.log