{
  "parser": "typescript",
  "printWidth": 80,
  "tabWidth": 4,
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "semi": false,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}